@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: white;
    height: 380vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*nav(10vh)+section1(100vh)+sec2(160)+sec3+sec4(200vh)=470vh*/
    height: 390vh;
    /* background: linear-gradient(to left, rgba(68, 69, 70, 0.829), rgba(6, 9, 10, 0.829)); */
    background: #c02a50; /*or maybe white color*/
    z-index: -1;
}
@media screen and (max-width: 700px) {
    .slider {
        height: 500vh;
    }
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkred;
    color: white;
    height: 50vh;
  }

#logo {
    grid-column: 2/3;
    font-size: 24px;
    cursor: pointer;
}

.hamburger {
    justify-self: end;
    color: rgb(163, 159, 159);
    cursor: pointer;
}

section {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: top;
}
#section2 {
    height: 70vh;
    padding-bottom: 10vh;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 700px) {
    #section2 {
        height: 190vh;
        
    }
}
#section3 {
    display: flex;
    justify-content: center;

    
}
#section4 {

}


.container {
    height: auto;
    width: auto;
    position: flex;
    /* z-index: 1;
    transform: scale(1); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s;

}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: flex;
    font-size: 3rem;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}
.headline-content {
    font-size: 1rem;
    transform: translate(0%, -50%);
    color: white;
}
@media screen and (max-width: 600px) {
    .headline {
        font-size: 2rem;
        padding-left: 10px;
    }
    .headline-content {
        font-size: 0.9rem;
        padding-left: 10px;
        transform: translate(30%, 0%);
    }
}

.container::after {
    content: "";
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}
.container:hover {
    /* z-index: 1.5;
    transform: scale(1.1); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#Layer_1 {
    fill: white;
}

.container2 {
    font-size: 20px;
    margin-top: 40px;
    padding: 10px;
    height: 50vh;
    width: 60%;
    position: absolute;
    color: white;
    /* flex-wrap: wrap;
    height: auto;
    width: 100%;
    position: relative;
    padding: 0;
    flex: 1; */
    /* background-color: #50c02a; */
}
.header2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    animation: drop 3s ease;
    animation-delay: 2s;
    color: white;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    animation: drop 3s ease;
    animation-delay: 2s;
    color: white;
    column-count: 3;
}
@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


#shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.4s;
}
#shadow:hover {
    /* z-index: 1.5;
    transform: scale(1.1); */
    box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#card-header {
    height: 10%;
    width: 100%;
    background-color: #50c02a;
    margin: 0; padding: 0; border: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
}
@media screen and (max-width: 700px) {
    #card-header {
        font-size: 30px;
    }
}
#card-content {
    text-align: left;
    justify-content: left;
    height: auto;
    /* background-color: green; */
    font-size: 1em;
}
@media screen and (max-width: 700px) {
    #card-content {
        padding-right: 12%;
    }
}
#progressbar {
    background-color: lightgrey;
    border-radius: 13px;
    width: 100%;
    /* (height of inner div) / 2 + padding */
    /* display: contents; */
}
#progressbar div {
    background-color: greenyellow;
    /* width: 70%; */
    /* Adjust with JavaScript */
    height: 20px;
    margin: 0;
    border-radius: 10px;
}

/* .container2::after {
    display: flex;
    flex-wrap: nowrap;
    content: "";
    background: #c02a50;
    width: 100%;
    height: 170%;
    position: absolute;
    left: 0;
    /* opacity: 0.3; */
    top: 0;
} */


p {
    display: block;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.header3 {
    font-size: 40px;
    color: white;
    justify-content: center;
    display: flex;
}
.container3 {
    align-items: center;
    display: flex;
    padding: 0px 100px 100px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    display: table-cell;
    padding: 10px 20px 10px;
    justify-content: space-around;
    margin-right: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

div.gallery {
    width: auto;
    margin: 1em;
    justify-content: center;
    border: 1px solid #ccc;
    display: inline-grid;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: left;
    color: white;
  }
  @media screen and (max-width: 700px) {
      div.desc {
          font-size: 13px;
      }
  }
.fa {
    background: black;
    border-radius: 10px;
    padding:5px;
    text-decoration:none;
}
a span {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transform: scale(1);
}
a span:hover {
    color: greenyellow;
    transform: scale(1.1);
}

div #align-item {
    display: flex;
    justify-content: space-around;
}