@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: white;
    height: 500vh;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*nav(10vh)+section1(100vh)+sec2(160)+sec3+sec4(200vh)=470vh*/
    height: 470vh;
    /* background: linear-gradient(to left, rgba(68, 69, 70, 0.829), rgba(6, 9, 10, 0.829)); */
    background: #c02a50; /*or maybe white color*/
    z-index: -1;
}
@media screen and (max-width: 700px) {
    .slider {
        height: 500vh;
    }
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
footer {
    position: relative;
    height: 30vh;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 32px;
    background-color: red;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
    cursor: pointer;
}

.hamburger {
    justify-self: end;
    color: rgb(163, 159, 159);
    cursor: pointer;
}

section {
    display: flex;
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: top;
}
#section2 {
    height: 160vh;
    padding-bottom: 10vh;
}
@media screen and (max-width: 700px) {
    #section2 {
        height: 180vh;
        padding-bottom: 10vh;
    }
}
#section3 {
    
}
#section4 {

}


.container {
    height: auto;
    width: auto;
    position: flex;
    /* z-index: 1;
    transform: scale(1); */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s;

}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: flex;
    font-size: 3rem;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}
.headline-content {
    font-size: 1rem;
    transform: translate(0%, -50%);
    color: white;
}
@media screen and (max-width: 600px) {
    .headline {
        font-size: 2rem;
        padding-left: 10px;
    }
    .headline-content {
        font-size: 0.9rem;
        padding-left: 10px;
        transform: translate(30%, 0%);
    }
}

.container::after {
    content: "";
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}
.container:hover {
    /* z-index: 1.5;
    transform: scale(1.1); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#Layer_1 {
    fill: white;
}

.container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    position: relative;
    padding: 0;
    /* background: #c02a50; */
}

.container2 div{
    /* display: flex; */
    justify-content: center;
    flex-wrap: wrap;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    width: 90%;
    margin: 1em;
    text-align: center;
    line-height: 1rem;
    /* font-size: 30px; */
}
#shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.4s;
}
#shadow:hover {
    /* z-index: 1.5;
    transform: scale(1.1); */
    box-shadow: 0 20px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#card-header {
    height: 10%;
    width: 100%;
    background-color: #50c02a;
    margin: 0; padding: 0; border: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
}
@media screen and (max-width: 700px) {
    #card-header {
        font-size: 30px;
    }
}
#card-content {
    text-align: left;
    justify-content: left;
    height: auto;
    /* background-color: green; */
    font-size: 1em;
}
@media screen and (max-width: 700px) {
    #card-content {
        padding-right: 12%;
    }
}
#progressbar {
    background-color: lightgrey;
    border-radius: 13px;
    width: 100%;
    /* (height of inner div) / 2 + padding */
    /* display: contents; */
}
#progressbar div {
    background-color: greenyellow;
    /* width: 70%; */
    /* Adjust with JavaScript */
    height: 20px;
    margin: 0;
    border-radius: 10px;
}

/* .container2::after {
    display: flex;
    flex-wrap: nowrap;
    content: "";
    background: #c02a50;
    width: 100%;
    height: 170%;
    position: absolute;
    left: 0;
    /* opacity: 0.3; */
    top: 0;
} */


p {
    display: block;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 900px;
    max-height: 600px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1vmin;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    align-items: center;

    z-index: 1;
    grid-column: span 2;
    margin-bottom: -75%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.5s;
}
.wrapper img:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}

.wrapper img:hover {
    z-index: 2;
    transform: scale(1.3);
}

.wrapper img:active {
    transform: rotateY(180deg);
}